.list-group-item:not(last-child) {
    margin-bottom: 0.5rem;
}

.close {
    cursor: pointer;
}

.complete {
    background-color: lightgreen;
    text-decoration: line-through;
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
}

.fa-trash-alt {
    pointer-events: none;
}